<div class="container">
  <div class="row my-auto">
    <div class="mx-auto">
      <div class="card login-card mb-3">
        <fa [name]="'angle-double-left'"
            [size]=2
            [routerLink]="['/lg' ]"></fa>
        <div class="card-header login-card-header text-uppercase">Regisztráció</div>
        <div class="card-body">
          <div *ngFor="let alert of alerts">
            <alert [type]="alert.type"
                   [dismissOnTimeout]="alert.timeout"
                   (onClosed)="onClosed(alert)">
              {{ alert.msg }}</alert>
          </div>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail">Megszólítás</label>
              <input type="text"
                     class="form-control"
                     placeholder="Felhasználónév"
                     #nickname>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Email cím</label>
              <input type="email"
                     class="form-control"
                     id="exampleInputEmail"
                     aria-describedby="emailHelp"
                     placeholder="Email cím"
                     #email>
              <small id="emailHelp"
                     class="form-text text-muted">
                E-mail címét harmadik féllel nem osztjuk meg!
              </small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword">Jelszó</label>
              <input type="password"
                     class="form-control"
                     id="exampleInputPassword"
                     placeholder="Jelszó"
                     #password>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword">Jelszó még egyszer</label>
              <input type="password"
                     class="form-control"
                     id="exampleInputPasswordRe"
                     placeholder="Jelszó"
                     #password2>
            </div>
            <div class="card-footer bg-transparent"></div>
            <button type="button"
                    class="btn btn-primary btn-lg btn-block"
                    role="button"
                    (click)="register(email.value, password.value, password2.value, nickname.value)">
              Regisztráció
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
