.babydiary img{
  height: 30px;
  margin-right: 10px;
}

.babydiary .tooltiptext-aboutus {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: x-small;
}

.babydiary:hover .tooltiptext-aboutus {
  visibility: visible;
}
