<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-8 col-sg-12 col-lg-6 mx-auto">
        <div class="card mb-3">
          <div class="card-header text-uppercase">Rólunk</div>
          <div class="card-body">
            <div>
              <h3>RFT</h3>
              <p>Debreceni Egyetemi Projekt</p>
              <fa [name]="'angle-double-left'"
                  [size]=2
                  [routerLink]="['/lg']"></fa>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
