.container{
  min-width: 500px;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  margin-bottom: -50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.card{
  min-width: 300px;
  color: #fff;
  background-color: rgba(36, 89, 133, 0.8);
}

.card a{
  color: #eff0f7;
}

.card-header{
  letter-spacing: 3px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #eff0f7;
  background: rgba(38, 70, 97, 0.8);
}
fa {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
}
fa:hover{
  right: 20px;
}
